
@charset "utf-8";
html{font-size:12px}
@media screen and (min-width:321px) and (max-width:375px){html{font-size:13px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:14px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}
/* CSS Document */
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);height: 100%;}
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button, /*input,*/ textarea, th, td, img{border:medium none;margin: 0;padding: 0;list-style-type: none;}
body,button, /*input,*/ select, textarea {font: 12px/1.5 '΢���ź�',tahoma, Srial, helvetica, sans-serif;}
body{overflow:visible;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
em{font-style:normal;}
ul, ol,{ list-style:none;}
a,a:hover{text-decoration: none;}
img{ border:0px;}
body,.ui-overlay-h{margin:0 auto;/* position:relative; */}
/*input,*/ img{vertical-align: middle;}
body,html{margin:0 auto; height: 100%;}
img{border:none;vertical-align:top; width:100%;}
*{margin:0;padding:0;text-shadow:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.clearfix:after,.clear:before{display:table;content:'';}
.clearfix:after{clear:both;	overflow:hidden;}
.clearfix{zoom:1;clear:both;}
.nav1 li.nobodertop{border-top:none;}

.main{width:100%;margin-bottom:50px;height: 100%;}
/****banner****/
.focus{ width:100%; position:relative;/* overflow:hidden; */}
.focus .hd{ width:100%; /*! height:11px; */  position:absolute; z-index:1; bottom:11px; text-align:center;  display:none;}
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; font-size:0; vertical-align:top;
}
.focus .hd ul li{ display:inline-block; width:15px; height:15px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:8px; background:#ababab; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#fff;  }

.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%;}

.focus .hd2{ width:100%; height:30px;  /*! position:absolute; */ z-index:1; bottom:5px; text-align:right;display: none;}
.focus .hd2 ul{ display:inline-block; height:8px; padding:13px 5px; font-size:0; vertical-align:top;}
.focus .hd2 ul li{ display:inline-block; width:8px; height:8px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#ababab; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd2 ul .on{ background:#c61b4f;  }

.grid-nav .ui-navbar a i{width: 7.5rem;height: 3rem;/*! border-radius: 1rem; */font-size:33px;line-height: 3rem;}
.grid-nav {
	/* background-color:#fff; */
	/* position:relative; 
	height: 100%;*/
}
.grid-nav .navbar {
	position:absolute;
	bottom: 0;
	left:0;
	width:100%;
	/* height: 100%; */
}
.grid-nav .ui-navbar {
	width:89.0625%;
	max-width:860px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
	border-radius:.3em;
	background-color:rgba(0,0,0,0.5);
}
.grid-nav .ui-navbar li {
	display:inline-block;
	float:left;
	width:33.3333333333%;
}
.grid-nav .ui-navbar a {
	color:#fff;
	text-align:center;
	display:block;
	padding:.5em 0;
	/*border-right:#d2d2d2 1px solid;
	border-bottom:#d2d2d2 1px solid;*/
}
.grid-nav .ui-navbar li:nth-of-type(3n+0) a {
 border-right:0;
}
.grid-nav .ui-navbar li:nth-of-type(7) a, .grid-nav .ui-navbar li:nth-of-type(8) a, .grid-nav .ui-navbar li:nth-of-type(9) a {
 border-bottom:0;
}
.grid-nav .ui-navbar li:first-child a {
	border-radius:.3em 0 0 0;
	-webkit-border-radius:.3em 0 0 0;
}
.grid-nav .ui-navbar li:nth-of-type(3) a {
 border-radius:0 0.3em 0 0;
 -webkit-border-radius:0 0.3em 0 0;
}
.grid-nav .ui-navbar li:nth-of-type(4) a {
 border-radius:0 0 0 0.3em;
 -webkit-border-radius:0 0 0 0.3em;
}
.grid-nav .ui-navbar li:last-child a {
	border-radius:0 0 0.3em 0;
	-webkit-border-radius:0 0 0.3em 0;
}
.grid-nav .ui-navbar a:active {
	background:#1c1c1c;
}
.ui-navbar .name {
	display:block;
}
.ui-navbar .ui-ico {
	height:30px;
	width:30px;
	background-size:535px auto;
	margin-bottom:.3em;
	background-image:url(/images/ico_css_main.png);
}
.ui-navbar .ui-ico-ship {
	background-position:-221px 0;
}
.ui-navbar .ui-ico-orderq {
	background-position:-258px 0;
}
.ui-navbar .ui-ico-freightq {
	background-position:-295px 0;
}
.ui-navbar .ui-ico-ageingq {
	background-position:-332px 0;
}
.ui-navbar .ui-ico-servicepoint {
	background-position:-369px 0;
}
.ui-navbar .ui-ico-servicescope {
	background-position:-406px 0;
}
.ui-ico {
	background-position:50% 50%;
}
.ui-ico, .ui-ico-sfi {
	display:inline-block;
	background-repeat:no-repeat;
	vertical-align:middle;
}