@charset "utf-8";
/* CSS Document */

html, body { width:100%; height:100%}
body, input, select { font-size: 12px; background: #fff; font-family: '微软雅黑', Helvetica, sans-serif; line-height: 100%; margin: 0;    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);}
body, div, ul, li, p, span, h1, h2, h3, h4, h5, h6, img, form, table, tr, td, dl, dt, dd, input, select { margin: 0; padding: 0; outline: none }
div, ul, li { zoom: 1; }
ul, li, ol { list-style: none; list-style-type: none; }
img { border: 0 none; }
a[href^=tel] { color: inherit; text-decoration: none; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
a { cursor: pointer; text-decoration: none; hide-focus: expression(this.hideFocus=true); outline: none;-webkit-appearance:none; }
a:link, a:visited, a:hover, a:active { -webkit-appearance:none;text-decoration: none; outline: 0;}
a:focus, li:focus, div:focus { outline: 0;-webkit-appearance:none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; line-height: normal; font-style: normal; font-weight: normal; }
.clear { margin: 0; padding: 0; width: 0; height: 0; line-height: 0; font-size: 0; list-style: none; list-style-type: none; clear: both; zoom: 1; }
.q:after { content: "."; display: block; height: 0; clear: both; font-size: 0px; visibility: hidden; }
.both { clear: both; }
.left { display: inline; float: left}
.right { display: inline; float: right}
input[type='text'],input[type='button'], textarea { -webkit-appearance:none;border:none; background:none; outline:none;}
.noborder { border:none !important}
.nopadding{ padding:0 !important}
.nomargin{ margin:0 !important}
.table table, .table2 table{ border-left: 2px solid #d0d0d0; border-top: 2px solid #d0d0d0; min-width:100%;border-collapse:collapse;border-spacing:0; background:#fff}
.table td{ border-right:2px solid #d0d0d0; border-bottom: 2px solid #d0d0d0; text-align: center; height:30px; }

body { background:#1ca19c}
.maintitle { font-size:26px; color:#fff; line-height:120%; margin:0px 0 30px 0; padding-top: 20px; text-align:center}
.trustnav  { margin-left:9%; overflow: hidden; }
.trustnav ul { margin-right:-10%;}
.trustnav li { width:36%; color:#fff; line-height:120%; font-size:16px; text-align:center; float:left; margin-bottom:18px; margin-right:10%;}
.trustnav li:last-child { margin-bottom: 0;}
.trustnav li .img {background:#fff;height:90px; border-radius:8px; margin-bottom:4px; }
.trustnav li .img img { width:50px; margin-top:25px; }
.maincontent { font-size:15px; color:#fff;line-height:140%; margin:0 15px;}
/*form*/
.myform { font-size: 14px; margin-left:5%;}
.myform li { zoom: 1; margin-bottom: 15px; overflow: hidden;}
.myform li .cinput { width: 60%; text-indent:8px; float: left; border: 2px solid #16bcb6; background:#fff; height: 30px; font-size: 14px; color: #333; line-height: 30px; border-radius:5px;-webkit-appearance:none; }
.myform li label { width: 22%; float: left; text-align: right; padding-right: 15px; line-height: 32px; font-size: 16px; color:#fff; }
.myform.long { font-size: 14px; margin-left:3%;}
.myform.long li label { width:30%; float: left; text-align: right; padding-right: 15px; line-height: 32px; font-size: 16px; color:#fff; }
.myform li p { font-size: 12px; padding-left: 90px; padding-top: 10px; display: block; color: #999; }
.myform li .w2 { width: 120px; }
.myform { min-height: 0 !important; margin-bottom: 15px; }
.myform select { -webkit-appearance:none; background:#fff url(select.png) no-repeat 95% !important; background-size:12px !important;}
.myform .cb { margin-top: 10px; }
.myform .cb div { margin-bottom: 5px; }
.myform .cb span { padding-left: 6px; padding-right: 20px; }
.cbtn { border:none; background:url(cbtn.png) no-repeat; background-size:120px; width:120px; height:43px; line-height:40px; font-size:20px; color:#1ca19c; margin-left:74px; margin-top:10px;}
.table { margin:10px; font-size:14px}
.table .title { background:#1ca19c; color:#fff; font-weight: bold;}
.table .lefttext { text-align:left; padding-left:10px;}
.mt20 { margin-top:20px;}
.download { background: url(download.png) no-repeat; background-size:15px; width:15px; height:16px; display:inline-block; margin-left:10px; vertical-align:middle} 
.processing { color:#49a123}
.downloadable { color:#0066ff}
.gone { color:#888888}
/*page navigation*/
.page { text-align:center; margin-top:15px; font-family: arial;}
.page a{ font-size:13px; border:solid 1px #fff; margin-right:5px; padding:6px 9px; display: inline-block; background:#fff; color:#888}
.page a.active { color:#fff; background: #49a123; font-weight:bold;border:1px solid #fff; }
.page a.next,.page a.prev{ font-weight:bold; border:solid 1px #fff; } 
.page a.prev-off,.page a.next-off { display:inline-block; font-weight:bold; color:#888;}
.page a.prev-off:hover,.page a.next-off:hover { border:solid 1px #fff;}
.page a:hover{ border:1px solid #fff;}
.notes { padding:20px; line-height:200%; color:#fff;}
.notes i { width:15px; height:15px; border:1px solid #fff; display:inline-block; margin-right:10px; vertical-align:middle}
.notes i.i1 { background:#000}
.notes i.i2 { background:#49a123}
.notes i.i3 { background:#0066ff}
.notes i.i4 { background:#888888}
.twobtn { margin:0 auto; width:200px;}
.twobtn2 { margin:0 auto; width:260px;}
.twobtn2 .cbtn { margin-left:0 !important}
.cbtn3 { border:none; background:url(cbtn.png) no-repeat; background-size:120px; width:120px; height:43px; line-height:40px; font-size:20px; color:#1ca19c; margin:25px auto; display:block; text-align:center}
.cbtn2 { border:none; background:url(cbtn.png) no-repeat; background-size:90px; width:90px; height:33px; line-height:30px; font-size:16px; color:#1ca19c; margin-top:10px; float:left}
.cbtn2:first-child { margin-right:18px;}
.maintitle2 { font-size:24px; color:#fff; line-height:120%; margin:10px 0 15px 0; text-align:left; padding-left:10px;}
.ctitle { padding-left:10px; color:#fff; font-size:18px;}
.onlyone { width:100%; background:#fff;font-size:16px;}
.onlyone dt { font-size: 14px; cursor: pointer; background: url(8.png) no-repeat 98% center; height: 45px; line-height: 45px; border-bottom: #ccc 1px solid; margin:0 15px 0 10px; padding-left:5px; cursor: pointer; }
.onlyone dt.on { background: url(7.png) no-repeat 98% center; }
.onlyone dd { display: none; padding: 10px; overflow:hidden; font-size:14px;}
.onlyone dd ul { overflow: hidden;}
.onlyone .title { height: 45px; line-height: 45px; color:#fff; background:#1ca19c; padding-left:10px;}
.onlyone dd li { float:left; margin-left:15px; line-height:26px; cursor: pointer;}
.onlyone dd li .mycheck { background: url(i4.png) no-repeat; background-size:20px;width:22px; height:24px; display:inline-block; vertical-align:middle; cursor: pointer;}
.onlyone dd li .mycheck.on {background: url(i3.png) no-repeat;background-size:20px;}
.ctitle2 { padding-left:10px; color:#fff; font-size:18px;padding-right:10px; font-size:16px; float:right}
.maintitle3 { font-size:26px; color:#fff; line-height:120%; margin:10px 0 5px 0; text-align:left; padding-left:10px; font-weight: bold;}
.mb25 { margin-bottom:25px;}
.faq dt { height: 45px; line-height: 45px; color:#fff; background:#33c1bc url(i01.png) no-repeat 93% center; padding-left:10px; font-size:16px; border-bottom:2px solid #1ca19c; cursor: pointer;}
.faq dt.on {background:#33c1bc url(i02.png) no-repeat 93% center;}
.faq dt.one {background:#33c1bc url(9.png) no-repeat 92.6% center;}
.faq dd {display:none; background:#fff;cursor: pointer;}
.faq dd li{ font-size: 16px; cursor: pointer; background:url(8.png) no-repeat 92% center; height: 45px; line-height: 45px; cursor: pointer;}
.faq dd li a, .faq dd li a:active, .faq dd li a:focus { color:#333;border-bottom: #ccc 1px solid; margin:0 15px 0 10px; display:block; padding-left:5px; outline: none; }
.unit1 { background: #fff; height: 30px; line-height: 25px; text-indent: 10px; width: 100%;}
.chart { background:#fff; /*width:120%; margin-left:-8%; */overflow:hidden; position: relative;}
.chart .ctitle1 { position: absolute;; left: 15px; top: 6px;}
.lineheight { line-height:140%;}
.pricenav h3 { font-size:26px; color:#fff; line-height:120%; margin:10px 0 15px 0; text-align:center}
.pricenav table { margin-bottom:10px;}
.pricenav p { line-height:150%; color:#fff; font-size:13px;}
.pricenav table p { color:#333; font-size:14px;}
.pricenav li { display:none; overflow: hidden;}
.pricenav li .title { font-size:15px; font-weight:bold; margin-bottom:10px; margin-top:15px;}
.pricenav li .title:first-child { margin-top:0;}
.pricenav li .cbtn3 { cursor: pointer;}
.trustnav a { color:#fff;}
.cbtn.middle { margin:0; float:none; margin:0 auto; display:block}
#wrapper { position: absolute; z-index: 1; top: 60px; bottom: 0px; left: 0; width: 100%; overflow: hidden; }
#scroller { position: absolute; z-index: 1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 800px; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none;  }
.more1 { text-align: right; height: 30px; line-height: 30px; padding-right: 12px; padding-top: 5px; clear: both;}
.info2 {float:left; margin-left:10px;text-align: left; color: #fff; padding-bottom: 5px; margin-top:4px; font-size: 14px;}
.info3 { float:right; margin-right:10px; text-align: right; color: #fff; padding-bottom: 5px; margin-top:4px;font-size: 14px;}
.info4 {color: #fff; padding-bottom: 3px; margin-left:10px; padding-top: 2px; font-size: 16px;}
.marketTitle { width: 90%; height: 45px; overflow: hidden;}
.table table.con, .table2 table.con{ border:none; min-width:100%;border-collapse:collapse;border-spacing:0; background:none}
.table .con td{ border:none; text-align: left; height:30px;color:#fff;line-height: 140%;vertical-align: top }

@media only screen and (max-width:375px)
{
	.myform.long li label { font-size:15px;}
}
@media only screen and (max-width:320px)
{
	.myform.long li label { font-size:13px;}
	.myform li .cinput { font-size:12px;}
}

