@charset "utf-8";
/*手机端样式*/
#wrap {display:block;min-width: 320px; margin:0 auto; max-width:640px; width: 100%; min-height:100%;overflow: hidden;-webkit-box-sizing: border-box; -moz-box-sizing:border-box; background:url(../bg.jpg) repeat rgba(255,255,255,1); }
.banner{display:block; with:100%; max-width:640px; border-bottom:2px solid #1b232b;}
.banner img{display:block; with:100%;}
.telnav {display:block; position:relative; width:100%;  max-width:320px;height:378px;margin:0 auto; background:url(../midbg.png) no-repeat top center; background-size:100%; opacity:1;
  -moz-perspective:800px;/*将平面图形转换为具有透视的3D图形*/
  -moz-transform-style:preserve-3d;/*transform-style: flat,所有子元素在 2D 平面呈现 | preserve-3d,保留3D空间*/
  -webkit-perspective:800px;
  -webkit-transform-style:preserve-3d;
  -moz-backface-visibility:;/*定义当元素不面向屏幕时是否可见,如果在旋转元素不希望看到其背面时，该属性很有用*/
  -webkit-backface-visibility:hidden;/*visible背面是可见的,hidden背面是不可见的。*/
  }
.telnav div{}
.telnav .div01{float:left;width:100%; height:100px;}
.telnav .div05{float:left;width:100%; height:78px;}
.telnav .div02, .telnav .div04{float:left; display:inline-block; width:70px; height:200px;overflow:hidden;}
.telnav .div03{float:left; display:inline-block; width:172px; height:172px; overflow:hidden;}
.telnav .div01 h1{float:left;width:100%; margin-top:20px;}
.telnav .div02 h1{float:right; width:52px; height:100px;}
.telnav .div04 h1{float:left; width:52px; height:100px;}
.telnav .div05 h1{float:left; width:100%; height:100px; margin-top:-20px;}
.telnav div h1{display:block;float:left; position:relative;color:#fff;text-align:center;
  -webkit-animation-name:wobble;/*动画名称，需要跟@keyframes定义的名称一致*/
  -webkit-animation-duration: 1s;/*表示动画持续的时间,如果没有设置duration的话，则表示为无穷大*/
  -webkit-animation-timing-function: linear;/*表示动画使用的时间曲线*/
  -webkit-animation-delay: 0;/*表示开始动画之前的延时*/
  -webkit-animation-iteration-count: 1;/*播放1数，infinite;播放无限次数*/
  -webkit-animation-direction: ;/*表示动画的方向*/
  -moz-animation-name:wobble;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 0;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: ;	
}
.telnav div h1 span{display:block;float:left;  position:relative; width:100%;font-size:1em; text-align:center; padding:2% 0%; }
.telnav div h1 .icon {display:block;width:50px; height:50px;margin:0 auto; padding:0%;overflow:hidden; }
.i01, .i02, .i03, .i04, .i05, .i06{width:100%; height:50px; background-size:50px 50px;}
.circle{ float:left;display:block; position:relative;width:150px; height:150px; margin-top:8px; margin-left:12px; background:url(../midpic.jpg) no-repeat center; background-size:100%; border:2px solid #111; border-radius:76px; overflow:hidden;}
footer {display:block;width:100%;line-height:30px; background:#1f1f1f; color:#fff; font-size:1.4em; text-align:center;}
@-webkit-keyframes wobble{
  0% {-webkit-transform:rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  25% {-webkit-transform:rotateY(90deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  50% {-webkit-transform:rotateY(180deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  75% {-webkit-transform:rotateY(270deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  100% {-webkit-transform:rotateY(360deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  }
@-moz-keyframes wobble{
  0% {-moz-transform:rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  25% {-moz-transform:rotateY(90deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  50% {-moz-transform:rotateY(180deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  75% {-moz-transform:rotateY(270deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  100% {-moz-transform:rotateY(360deg) rotateX(0deg) rotateZ(0deg) translateZ(0px);}
  }

@media screen and (min-width: 360px){ 
.telnav{min-width:360px; height:425px;} 
.telnav .div01{width:360px;}
.telnav .div02, .telnav .div04{width:80px; height:224px;}
.telnav .div03{ width:200px; height:224px;}
.telnav .div05{width:360px; height:78px;}
.telnav .div01 h1{margin-top:35px;}
.telnav .div02 h1, .telnav .div04 h1{width:52px; height:100px; margin-top:15px;}
.telnav .div05 h1{margin-top:-15px;}
.telnav div h1 span{font-size:1.2em;}
.telnav div h1 .icon {width:50px; height:50px;}
.i01, .i02, .i03, .i04, .i05, .i06{width:50px; height:50px; background-size:50px 50px;}
.circle{ width:174px; height:174px; margin-top:17px; margin-left:11px;border-radius:89px; }
}
@media screen and (min-width: 640px){ 
.telnav{min-width:640px; height:756px;background:url(../midbg.png) no-repeat top center; background-size:100%;} 
.telnav .div01{width:100%; height:200px;}
.telnav .div02, .telnav .div04{width:140px; height:400px;}
.telnav .div03{width:360px; height:400px;}
.telnav .div05{width:100%; height:156px;}
.telnav .div01 h1{margin-top:50px;}
.telnav .div02 h1, .telnav .div04 h1{width:104px; height:200px;}
.telnav .div05 h1{height:200px; margin-top:-40px;}
.telnav div h1 span{font-size:2em;}
.telnav div h1 .icon {width:100px; height:100px;}
.i01, .i02, .i03, .i04, .i05, .i06{height:100px; background-size:100px 100px;}
.circle{ width:310px; height:310px; margin-top:15px; margin-left:22px; border-radius:156px; }
}