@charset "utf-8";
/* CSS Document */
* {padding: 0;margin: 0;}
body{font-family: Microsoft YaHei,宋体;height: 100%;background-color: #ebebeb;}
li {
list-style-type: none;
}
a {
text-decoration: none;
}
.clear {clear: both;}

/*首页导航颜色大小*/
.nav-scontent{overflow: hidden;position: relative;padding: 0%1.5%;width: 100%;padding-top: 2px;margin: 0 auto;}
.nav-scontent ul{ margin:0 auto;}
#navshow li{ margin-bottom:1.6%; overflow:hidden}
#navshow li span { display:block; width:32.5%; height:100px; float:left;  position:relative}
#navshow li span p{font-size:16px;font-family:"微软雅黑"; color:#FFF; text-align:center; line-height:110px;}
#nav_1 span{ background:#d88d00}
#nav_2 span{ background:#cd3333}
#nav_3 span{ background:#A5C406}
#navshow li span small{ display:block; width:18px; height:18px;  position:absolute; top:73px; left:62%;line-height:13px;}
#navshow li span small img{ width:100% }
#navshow li div{ display:block; width:66.2%; float:right;  height:100px; position:relative;}
#navshow li div h6{ position:absolute; width:100%;  background:rgba(63,63,63,0.6); height:24px; bottom:0px; left:0px; color:#FFF; line-height:24px; margin:0;}
#navshow li div h6 span{float:left;padding-left:5px; background:none;font-size:13px; font-weight:normal; }


#nav_1 div img,#nav_2 div img,#nav_3 div img{ width:100%; height:100px;}


#navshow2 a{ width:32.5%; display:inline-block; height:42px;  text-align:center; line-height:42px; color:#FFF; text-decoration:none; font-size:16px;margin-bottom: 4px; }
#navshow2 span{ width:32.5%;height:42px;text-align:center;color:#FFF;text-decoration:none; font-size:16px; }
#navshow2 .bj1{ float:left;background:#00a4de  }
#navshow2 .bj2{ margin-left:1.8%;float:left; background:#825edb}
#navshow2 .bj3{ float:right; background:#04c191}
.pic-height{float:left;width:100%;height: 110px;}

