<form action=""  method="post"  class="form-horizontal form-validate" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$item['id']}" />
<input type="hidden" name="r" value="order.rent.edit" />
<div class="modal-dialog" style="width: 1000px;">
	<div class="modal-content">
		<div class="modal-header">
			<button data-dismiss="modal" class="close" type="button">×</button>
			<h4 class="modal-title">编辑设备</h4>
		</div>
		<div class="modal-body">
			
			<div class="form-group">
				<label class="col-lg control-label must">设备MAC地址</label>
				<div class="col-sm-9 col-xs-12">
					<input type="text" name="macid" class="form-control" value="{$item['macid']}" />
				</div>
			</div>
			<div class="form-group">
                <label class="col-lg control-label">类别</label>
                <div class="col-sm-9 col-xs-12">
                <select name='status'  class='col-sm-9 col-xs-12'>
                	<option {if empty($item['status'])} selected {/if} value='0'>请选择套餐级别</option>
                    <option {if $item['status']==1} selected {/if} value='1'>永久不限期</option>
                    <option {if $item['status']==2} selected {/if} value='2'>限期租用</option>
                    <option {if $item['status']==-1} selected {/if} value='-1'>禁用</option>
                </select> 
            </div>
            </div>
            <div class="form-group">
				<label class="col-lg control-label">激活时间</label>
				<div class="col-sm-9 col-xs-12">
					{php echo empty($item['begintime'])?'未激活':date('Y-m-d H:i:s',$item['begintime'])}
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg control-label">周期（天）</label>
				<div class="col-sm-9 col-xs-12">
					<input type="number" name="periodtime" class="form-control" value="{$item['periodtime']}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg control-label">到期时间</label>
				<div class="col-sm-9 col-xs-12">
					{php echo empty($item['endtime'])?'未激活':date('Y-m-d H:i:s',$item['endtime'])}
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg control-label">用户信息</label>
				<div class="pull-left">
                    <img class="radius50" src='{$item['avatar']}' style='width:20px;height:20px;padding:1px;border:1px solid #ccc;margin-left: 20px;' onerror="this.src='../addons/ewei_shopv2/static/images/noface.png'"/>
                    {$item['nickname']}&nbsp;&nbsp;{$item['mobile']}
                </div>
			</div>


		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit">提交</button>
			<button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
		</div>
	</div>
	</form>

<!--yifuyuanma-->